@font-face {
  font-family: "iconfont"; /* Project id 2679403 */
  src: url('iconfont.woff2?t=1627814174206') format('woff2'),
       url('iconfont.woff?t=1627814174206') format('woff'),
       url('iconfont.ttf?t=1627814174206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon1:before {
  content: "\e60a";
}

.icon-youjiantou:before {
  content: "\e608";
}

.icon-shuju:before {
  content: "\e607";
}

.icon-huizhang:before {
  content: "\e61f";
}

.icon-gou2:before {
  content: "\e70b";
}

.icon-cha:before {
  content: "\e648";
}

.icon-xin:before {
  content: "\e610";
}

.icon-Icon_wode--outline:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e609";
}

.icon-wechat:before {
  content: "\e605";
}

.icon-icon:before {
  content: "\e604";
}

.icon-gou1:before {
  content: "\e6cd";
}

.icon-ziliaoxiazai:before {
  content: "\e7a7";
}

.icon-shejiaotubiao-40:before {
  content: "\e646";
}

.icon-xinwenzhongxin:before {
  content: "\e63e";
}

.icon-fuwu:before {
  content: "\e602";
}

.icon-anli:before {
  content: "\e816";
}

.icon-zu2112:before {
  content: "\e603";
}

.icon-gou-copy:before {
  content: "\e601";
}

.icon-gou:before {
  content: "\e62d";
}

.icon-shizi:before {
  content: "\e723";
}

.icon-xuanzhongshangcheng:before {
  content: "\e600";
}

